div.item-modal {
  box-shadow: 10px 5px 5px black;
  height: 200px;
}

.item-modal * {
  float: left;
  box-sizing: border-box;
  width: 100%;
}

.item-modal {
  height: 100%;

  img {
    width: 50%;

  }

  .upper-right-section {
    width: 50%;
    h4 {
      width: 80%;
      font-size: .75em;
    }
    button {
      width: 20%;
      font-size: .5em;
      border-radius: 1em;
      float: right;
    }
  }

}
