@import "../../../style/_main.scss";

.frontend-header {
}

.store-logo {
  width: 100px;
  margin-left: 50px;
  display: inline-block;
}
.cart-button {
  display: inline-block;
  width: 250px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.fa {
  width: auto;
}
